@media (max-width:600px) {
    body label {
        font-size: 1em;
    }
    body input {
        font-size: .9em;
        margin: 5px 0;
    }
    body button {
        margin-top: 15px;
    }
    body .sign-in-link a {
        font-size: .9em;
    }
}

.sign-in-link a, .sign-in-link {
    text-decoration: none;
    color: hsl(120, 64%, 21%);
    /* margin-left: 20%; */
    text-align: center;
    font-size: 1.1em;
}

.sign-in-link a:hover {
    color: hsl(120, 46%, 13%);
    text-decoration: underline;
}